:root {
    font-family: "Space Grotesk", 'Roboto', sans-serif;
    color: Black;
    font-size: 2ch;
    background-color: #24262B;
}

body {
    margin: 0em;
}

header {
    display: grid;
    height: fit-content;
    width: 100%;
    background-color: #004e92;
    /* box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2); */
}

main {
    display: grid;
    justify-content: center;
    padding-bottom: 2em;
    text-align: center;
}

nav {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.25em;
    text-decoration: none;
    font-weight: 600;
}

li a:hover {
    background-color: #111;
}

p {
    font-size: 1.7ch;
    color: white;
}

h6 {
    font-size: 2ch;
    color: white;
    margin: 1.281em 0;
    font-weight: 450;
}

.nameWrapper {
    width: 100%;
    padding-top: 12vw;
    padding-bottom: 15vw;
    background: rgb(0, 78, 146);
    background: linear-gradient(180deg, rgba(0, 78, 146, 1) 0%, rgba(36, 38, 43, 1) 100%);
}

.heading {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 6vw;
    text-transform: uppercase;
    margin: 0;
}

.subHeading {
    font-size: 1.5vw;
    color: white;
    text-transform: uppercase;
    margin: 1em;
}

.leftPart {
    position: fixed;
    font-weight: 700;
    font-size: 1.2vw;
}

.rightPart {
    padding-left: 43%;
}

.multiContent {
    font-size: 2ch;
    color: white;
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.multiContent>div {
    flex: 1;
}

.miniContainer {
    word-wrap: normal;
    width: auto;
    border: solid 0.125em white;
    width: fit-content;
    padding: 1em 1em 3em 1em;
    line-height: 1.4em;
}

.miniContainer2 {
    margin-top: 5em;
    display: grid;
    justify-items: center;
}

.miniContainer2>h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.iconPng {
    color: white;
    padding-top: 1.9em;
    padding-right: 0.9em;
    float: left;
    height: 4ch;
    width: 4ch;
}

.gitRepo {
    border-radius: 2em;
    align-self: center;
    justify-self: center;
}

.gitRepo img {
    height: 25%;
}

.container {
    display: grid;
    width: 85%;
    height: fit-content;
    margin: 1em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.jobs {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: #004e92;
    padding: 0 1em;
    width: 40%;
    border-radius: 0.5em;
    margin: 0.5em auto;
    margin-bottom: 0.25em;
}

.time {
    display: inline-flex;
}

.specificatpion {
    display: inline-flex;
}

.specificatpion a {
    text-decoration: none;
    color: #acacac;
    font-family: "Space Grotesk", 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 0.5em;
    padding-right: 1em;
}

.specificatpion img{
    margin-top: 0.5em;
    margin-right: 0.166em;
    height: 2ch;
}

.tags {
    display: inline-flex;
    padding-bottom: 0.5em;
}

.tag {
    color: white;
    text-align: center;
    background-color: #0b7c4e;
    border-radius: 2em;
    padding: 0.25em 0.5em;
    margin: 0.166em;
    width: min-content;
}

#moreInfo {
    text-align: left;
    display: none;
    position: relative;
    background-color: #003459;
    margin: 0em auto;
    z-index: 1;
    width: 40%;
    padding: 0 1em;
    border-radius: 0.5em;
}

#openInfo {
    /* width: 2.5em ;
    height:2.5em ; */
    background-color: transparent;
    /* line-height: 2.5em; */
    text-align: center;
    text-decoration: none;
    border: none;
    padding-left: 1em;
}