@media screen and (max-width: 1250px) {
    .multiContent {
        display: grid;
    }

    #work {
        display: flex;
        flex-direction: column
    }

    .gitRepo {
        display: flex;
        justify-content: center;
    }

    .jobs {
        font-size: 1.4ch;
    }
}

@media screen and (max-width: 1400px) {
    :root {
        font-size: 1.7ch;
    }

    nav {
        justify-content: flex-end;
    }

    .rightPart {
        display: none;
    }

    .hamburgerMenu {
        display: block;
        margin-right: 4em;
    }

    .iconPng {
        display: none;
    }

    .miniContainer h3 {
        padding-left: 20px;
    }

    br {
        display: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    height: 2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #004e92;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #004e92;
}